<section class="footer">
  <div class="contact">
    <h2>Hotels.Ug</h2>

    <ul>
      <li>support@hotels.ug</li>
      <li>256 312 002 771</li>
      <li>Kampala Uganda</li>
    </ul>
  </div>

  <div class="services">
    <h3>Services</h3>
    <ul>
      <li>Reservations</li>
      <li>Financial Solution</li>
      <li>Travel</li>
      <li>Food</li>
    </ul>
  </div>

  <div class="links">
    <h3>Useful Links</h3>
    <ul>
      <li>About</li>
      <li>Contact Us</li>
    </ul>
  </div>

  <div class="subscribe">
    <h3>Subscribe</h3>

    <form>
      <input type="text" placeholder="Enter your email" />
      <button type="submit">Subscribe</button>
    </form>
  </div>
</section>
<section class="bottom-bar">
  <p>
    Copyright @2020 All rights Reserved | Developed by
    <a href="http://github.com/jngisiro" target="_blank">jngisiro</a>
  </p>
</section>
