.footer {
  display: flex;
  flex-flow: row;
  padding: 100px 20px;
  background-color: #051937;
  margin-top: 100px;
  // background-image: linear-gradient(
  //   rgba(255, 255, 255, 1),
  //   rgba(90, 88, 88, 0.4)
  // );
  justify-content: space-around;

  h2,
  h3 {
    margin-bottom: 30px;
    color: #ffd700;
    font-weight: 100;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 10px;
      color: rgba(153, 153, 153, 0.6);
    }
  }

  form {
    input {
      font-size: 14px;
      padding: 3px 5px;
      background-color: transparent;
      border: 1px solid rgba(153, 153, 153, 0.2);
      color: rgba(153, 153, 153, 0.6);
    }

    button {
      background-color: transparent;
      border: 1px solid rgba(153, 153, 153, 0.6);
      color: #ffd800;
      padding: 4px 10px;
    }
  }
}

.bottom-bar {
  background-color: #051937;
  text-align: center;
  color: rgba(153, 153, 153, 0.2);
  padding: 20px 10px;

  p {
    border-top: 1px solid rgba(153, 153, 153, 0.2);
    width: max-content;
    margin: 0 auto;
    padding: 0 200px;
    padding-top: 10px;

    a {
      text-decoration: none;
      color: rgba(238, 238, 238, 0.1);
    }
  }
}
