<section class="login-form">
  <mat-grid-list cols="2">
    <mat-grid-tile class="realio">
      f
      <!-- <div class="hero"></div> -->
    </mat-grid-tile>

    <mat-grid-tile class="el">
      <mat-card>
        <form class="form" (ngSubmit)="onSubmit(form)" #form="ngForm">
          <h1>Sign In</h1>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              ngModel
              name="email"
              #email="ngModel"
              required
              email
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              type="password"
              ngModel
              name="password"
              #password="ngModel"
              required
            />
          </mat-form-field>

          <button
            color="primary"
            mat-raised-button
            *ngIf="!loading"
            [disabled]="form.invalid"
          >
            Login
          </button>
          <p>
            Don't have an account? <a routerLink="/register">Register Here</a>
          </p>
          <app-loading *ngIf="loading"></app-loading>
        </form>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
