<!-- <p class="breadcrumps">Home > All Hotels > Kampala > Sheraton</p> -->

<app-loading *ngIf="loading"></app-loading>

<main *ngIf="!loading" class="container">
  <aside class="sidebar">
    <h3>Make a reservation now</h3>
    <button class="book">Book</button>
    <button class="favourite">Add to watchlist</button>
  </aside>

  <article class="hotel">
    <ul class="nav">
      <li><a routerLink="#prices">Pricing</a></li>
      <li><a routerLink="#facilities">Facilities</a></li>
      <li><a routerLink="#rules">House Rules</a></li>
      <li><a routerLink="#reviews">Guest Reviews</a></li>
    </ul>

    <h2 class="hotel__heading">{{ hotel?.name }} - {{ hotel?.location }}</h2>
    <p class="hotel__address">{{ hotel?.address }}</p>
    <div class="imgThumb">
      <img class="imgThumb__img" src="{{ hotel?.coverImage }}" />
    </div>

    <div class="hotel__description">
      <p>{{ hotel.summary }}</p>
    </div>

    <div class="hotel__facilities">
      <h2 class="sub_heading">Facilities</h2>
      <ul>
        <li *ngFor="let item of hotel.facilities" class="item">{{ item }}</li>
      </ul>
    </div>

    <div class="hotel__rules">
      <h2 class="sub_heading">Rules</h2>
      <ul>
        <li *ngFor="let item of hotel.rules">{{ item }}</li>
      </ul>
    </div>

    <div class="hotel__langauges">
      <h2 class="sub_heading">Languages We Speak</h2>
      <ul>
        <li *ngFor="let item of hotel.languages">{{ item }}</li>
      </ul>
    </div>
  </article>
</main>
