<section class="register-form">
  <mat-grid-list cols="2">
    <mat-grid-tile class="realio"> </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <form
          class="form"
          [formGroup]="registerForm"
          (ngSubmit)="onRegistered()"
          *ngIf="!hasRegistered"
        >
          <h1>Register for an Account</h1>
          <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile>
              <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="firstname" />
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="lastname" />
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" />
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input matInput type="tel" formControlName="phone" />
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" />
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input
                  matInput
                  type="password"
                  formControlName="passwordConfirm"
                />
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <button
            mat-raised-button
            *ngIf="!loading"
            [disabled]="registerForm.invalid"
            color="accent"
          >
            Create Account
          </button>
          <app-loading *ngIf="loading"></app-loading>
        </form>

        <div class="notify" *ngIf="hasRegistered">
          <h1 class="notify__header">
            Success
          </h1>
          <p class="notify__message">
            Congratulations. Your account has been created at Hotels.ug Please
            check your email at: <b>{{ confirmEmail }}</b> to activate your
            account
          </p>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
