.icon-rating {
  color: red;
}

.press {
  color: red;
}

.rel {
  position: relative;
}

mat-grid-tile {
}

mat-form-field {
  // justify-content: stretch;
  padding: 10px;
  width: 100%;
}

.progressBtns {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}
