.hotel__list {
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  grid-auto-flow: column;
}

.destinations {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 2rem 1rem;
}

.kampala-hotels {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem 1rem;
  align-items: stretch;
}

.heading {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;

  a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    border: 1px solid #000;
    padding: 4px 20px;
    transition: 0.3s ease-out;
    backface-visibility: hidden;

    &:hover {
      transform: translateY(-2px);
      color: #fff;
      background: #000;
    }
  }
}
