a {
  text-decoration: none;
}

.navigation {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #051937;

  .logo {
    flex-grow: 1;
    font-size: 1.7rem;
    padding: 0;
    margin: 0;
    color: #ffd700;
  }
}

.nav {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  list-style: none;
  flex-grow: 4;

  li {
    margin-top: 0.5rem;

    a {
      color: #ffd700;
    }
  }
}

.signin {
  border: 1px solid #ffd700;
  padding: 0.3rem 1.7rem;
  color: #fff;
  border-radius: 3px;
}
