<app-loading *ngIf="loading"></app-loading>
<div class="content" *ngIf="!loading">
  <main>
    <form class="search-form" #form="ngForm" (ngSubmit)="onSearch()">
      <input
        type="text"
        ngModel
        name="search"
        #search="ngModel"
        required
        placeholder="Search Location or Hotel Name"
      />
      <button type="submit" [disabled]="form.invalid">Search</button>
    </form>

    <app-search-thumb
      *ngFor="let hotel of results"
      [hotel]="hotel"
    ></app-search-thumb>
  </main>

  <aside>
    Sidebar
  </aside>
</div>
